<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <entry key="BaseUrl">https://vk.com/</entry>
    <entry key="Login">37122351091</entry>
    <entry key="Password">j#NIJ*yhjAj4KZ</entry>
    <entry key="Path">/id724264965</entry>
</properties>
