<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <entry key="BaseUrl">https://vk.com/</entry>
    <entry key="Login">change-me</entry>
    <entry key="Password">change-me</entry>
    <entry key="Path">change-me</entry>
</properties>
